.containerGrid {
  /* padding: 1em; */
  margin: 1em;
  width: 90%;
  display: grid;
  /* grid-gap: 2em; */
  /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
  grid-template-columns: repeat(auto-fill, minmax(150px, 500px));
  place-content: center;
}
.description-home h1 {
  line-height: 0.8;
}
.wrapper-banner {
  height: 90vh;
  overflow: hidden;
}
.banner-front {
  height: 100%;
  transform: translate(-10%, 0%) rotate(-45deg);
  /* overflow: hidden; */
}
.divright {
  transform: translate(100%, 0%);
  animation-name: movingright;
  animation-duration: 3s;
}
.divleft {
  transform: translate(0%, 0%);
  animation-name: movingleft;
  animation-duration: 4s;
  /* animation-delay: 0.5s; */
}
.border-div-left {
  width: 400%;
  height: 100%;
  left: 0px;
  border-bottom: solid black;
  bottom: 100px;
  animation-name: movinleftborder;
  animation-duration: 2s;
}
.border-div-right {
  /* transform: translate(0%, 0%); */
  height: 400%;
  bottom: 0px;
  left: -100px;
  animation-name: movingrightborder;
  animation-duration: 2s;
}
@keyframes movingright {
  0% {
    transform: translate(100%, 100%);
  }

  100% {
    left: 0;
    transform: translate(100%, 0%);
  }
}
@keyframes movingleft {
  0% {
    transform: translate(-100%, 0%);
  }

  100% {
    left: 0;
    transform: translate(0%, 0%);
  }
}
@keyframes movingrightborder {
  0% {
    bottom: -3000px;
  }

  100% {
    bottom: 0px;
  }
}
@keyframes movinleftborder {
  0% {
    left: -7000px;
  }

  100% {
    left: 0px;
  }
}
@media (max-width: 1024px) {
  .wrapper-banner {
    height: 70vh;
  }
}
